<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>Hello {{ user }}</p>
        <br/>
        <p>
            Please find the attached file to view your photos from {{ photographer }} taken at {{ location }}.
            <br/><br/>
            The photos attached are original files - they are in awesome qualities but file sizes might be too big to be posted on your social media. You can download mobile-optimized photos from the PRIZM website <a href='https://prizm.cloud/' target="_blank">(https://prizm.cloud/)</a> Login and go to 'My Photos' to view and download the photos. 
            <br/><br/>
            Thank you very much for being with us, and hope you use PRIZM again for your next travel destination in the future. If you have any questions or suggestions, please send us an email to contact@prizm.cloud.
            <br/><br/>
            Thanks again and have a great day!
            <br/><br/>
            Claude
        </p>
    </body>
</html>