@import "reset-css";
@import "./bootstrap/bootstrap-grid.scss";

@font-face {
    font-family: 'NanumSquare';
    src: url('../assets/fonts/Nanum/NanumSquareOTFL00.eot');
    src: local('나눔스퀘어OTF Light'), local('NanumSquareOTFL00'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.woff2') format('woff2'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.woff') format('woff'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.otf') format('opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.ttf') format('truetype'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.svg#NanumSquareOTFL00') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('../assets/fonts/Nanum/NanumSquareOTFR00.eot');
    src: local('나눔스퀘어OTF'), local('NanumSquareOTFR00'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.woff2') format('woff2'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.woff') format('woff'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.otf') format('opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.ttf') format('truetype'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.svg#NanumSquareOTFR00') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('../assets/fonts/Nanum/NanumSquareOTFB00.eot');
    src: local('나눔스퀘어OTF Bold'), local('NanumSquareOTFB00'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.woff2') format('woff2'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.woff') format('woff'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.otf') format('opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.ttf') format('truetype'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.svg#NanumSquareOTFB00') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('../assets/fonts/Nanum/NanumSquareOTFEB00.eot');
    src: local('나눔스퀘어OTF ExtraBold'), local('NanumSquareOTFEB00'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.woff2') format('woff2'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.woff') format('woff'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.otf') format('opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.ttf') format('truetype'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.svg#NanumSquareOTFEB00') format('svg');
    font-weight: 900;
    font-style: normal;
}

.scroll-none{
    overflow: auto;
    -ms-overflow-style: none !important;
}

::-webkit-scrollbar {
    display: none;
}
html{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    font-family: 'NanumSquare', sans-serif;
}
.mobile-only{
    display: inherit;
}
.mobile-none{
    display: none;
}
@media (min-width: 768px) {
    .mobile-only{
        display: none;
    }
    .mobile-none{
        display: inherit;
    }
}

.font-light{
    font-weight: 100;
}
.font-normal{
    font-weight: 400;
}
.font-bold{
    font-weight: 600;
}
.font-extra-bold{
    font-weight: 900;
}
.font-r-bold{
    font-weight: 400;
}
@media (min-width: 1024px){
    .font-r-bold{
        font-weight: 600;
    }
}
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
.italic{
    font-style: italic;
}
.text-decoration-none{
    text-decoration: none;
}

@for $i from 1 through 100 {
    .height-#{$i} { height: #{$i}vh; }
}
@for $i from 1 through 100 {
    .height-#{$i}-percent { height: '#{$i}%'; }
}
@for $i from 1 through 100 {
    .width-#{$i} { width: '#{$i}%'; }
}
@for $i from 8 through 60 {
    .font-#{$i} { font-size: #{$i}px; }
}
.font-9-11{
    font-size: 9px
}
.font-10-12{
    font-size: 10px
}
.font-12-14{
    font-size: 12px
}
.font-11-13{
    font-size: 11px
}
.font-13-14-16{
    font-size: 13px
}
.font-17-13-15{
    font-size: 17px
}
.font-13-16{
    font-size: 13px
}
.font-14-16{
    font-size: 14px
}
.font-16-20{
    font-size: 16px
}
.font-20-22{
    font-size: 20px
}
.font-20-24{
    font-size: 20px
}
.font-20-18-20{
    font-size: 20px
}

@media (min-width: 1024px){
    .font-13-14-16{
        font-size: 14px
    }
    .font-17-13-15{
        font-size: 13px
    }
    .font-20-18-20{
        font-size: 18px
    }
    
}

@media (min-width: 1440px){
    .font-20-22{
        font-size: 22px;
    }
    .font-13-14-16{
        font-size: 16px
    }
    .font-20-24{
        font-size: 24px
    }
    .font-14-16{
        font-size: 16px
    }
    .font-11-13{
        font-size: 13px
    }
    .font-10-12{
        font-size: 12px
    }
    .font-17-13-15{
        font-size: 15px
    }
    .font-20-18-20{
        font-size: 20px
    }
    .font-12-14{
        font-size: 14px
    }
    .font-13-16{
        font-size: 16px
    }
    .font-16-20{
        font-size: 20px
    }
    .font-9-11{
        font-size: 11px
    }
    
}

.height-full{
    height: 100vh;
}
.height-full-safearea{
    height: calc(100vh - 72px);
}
.height-full-percent{
    height: 100%;
}
.min-height-full{
    min-height: 100vh;
}
.width-full{
    width: 100%;
}

.width-half-btn{
    width: calc(50% - 8px)
}
@media (min-width: 768px){
    .width-half-btn{
        width: 140px
    }
}


.cursor-pointer{
    cursor: pointer !important;
}

.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.absolute-vertical-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.black{
    color: $black;
}
.white{
    color: $white;
}
.gray-2f{
    color: $gray-2f;
}
.gray-8e{
    color: $gray-8e;
}
.gray-a6{
    color: $gray-a6;
}
.gray-33{
    color: $gray-33;
}
.gray-f4{
    color: $gray-f4;
}
.gray-d9{
    color: $gray-d9;
}
.gray-ce{
    color: $gray-ce;
}
.gray-6d{
    color: $gray-6d;
}
.gray-d5{
    color: $gray-d5;
}
.gray-e7{
    color: $gray-e7;
}
.gray-dc{
    color: $gray-dc;
}
.gray-f8{
    color: $gray-f8;
}
.gray-e8{
    color: $gray-e8;
}
.gray-5c{
    color: $gray-5c;
}
.pink{
    color: $pink;
}
.green{
    color: $green;
}
.confirmed{
    color: $confirmed;
}
.url-blue{
    color: $url-blue;
}

.bg-black{
    background-color: $black;
}
.bg-white{
    background-color: $white;
}
.bg-gray-2f{
    background-color: $gray-2f;
}
.bg-gray-8e{
    background-color: $gray-8e;
}
.bg-gray-a6{
    background-color: $gray-a6;
}
.bg-gray-33{
    background-color: $gray-33;
}
.bg-gray-f4{
    background-color: $gray-f4;
}
.bg-gray-d9{
    background-color: $gray-d9;
}
.bg-gray-ce{
    background-color: $gray-ce;
}
.bg-gray-6d{
    background-color: $gray-6d;
}
.bg-gray-d5{
    background-color: $gray-d5;
}
.bg-gray-e7{
    background-color: $gray-e7;
}
.bg-gray-dc{
    background-color: $gray-dc;
}
.bg-gray-f8{
    background-color: $gray-f8;
}
.bg-gray-e8{
    background-color: $gray-e8;
}
.bg-gray-5c{
    background-color: $gray-5c;
}
.bg-pink{
    background-color: $pink;
}
.bg-green{
    background-color: $green;
}
.bg-confirmed{
    background-color: $confirmed;
}
.bg-url-blue{
    background-color: $url-blue;
}

.mt-45{
    margin-top: 2.25rem;
}
.mb-45{
    margin-bottom: 2.25rem;
}
.mt-r-45{
    margin-top: 1.5rem;
}
.mt-studio{
    margin-top: 20px;
}
@media (min-width: 768px){
    .mt-r-45{
        margin-top: 3rem;
    }
    .mt-studio{
        margin-top: 100px;
    }
}

.px-admin{
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-admin-2{
    padding-left: 1rem;
    padding-right: 1rem;
}

@media(min-width: 768px){
    .px-admin{
        padding-left: 42px;
        padding-right: 42px;
    }
    .px-admin-2{
        padding-left: 42px;
        padding-right: 0;
    }
}
@media(min-width: 1440px){
    .px-admin{
        padding-left: 70px;
        padding-right: 70px;
    }
    .px-admin-2{
        padding-left: 70px;
        padding-right: 0;
    }
    .mr-admin-main-image{
        margin-right: 70px !important;
    }
}

.font-60-120{
    font-size: 60px;
}

@media (min-width: 768px){
    .font-60-120{
        font-size: 120px;
    }
}
.position-relative{
    position: relative;
}
.position-home-title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.position-home-logo{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.position-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: '100%';
}
.position-nav-description{
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
}
.position-btm-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: '100%';
    height: 48px;
    -webkit-transition: height .6s;
    -moz-transition: height .6s;
    -o-transition: height .6s;
    transition: height .6s;


    &.hide{
        height: 0px;
    }
}
.position-dropdown{
    position: absolute;
    top: 40px;
    z-index: 10;
    border: 1px solid $gray-97;
    border-top: none;
}

.text-input-1{
    background-color: $white;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    outline: none;
    width: calc(90% - 40px - 1rem);
    max-width: 600px;
    height: 60px;
    justify-content: center;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-2{
    background-color: 'transparent';
    font-size: 13px;
    border: none;
    border-bottom: 1px solid $gray-97;
    outline: none;
    width: 100%;
    justify-content: center;
    padding: 14px 0 8.5px;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-3{
    background-color: 'transparent';
    font-size: 13px;
    border: none;
    border-bottom: 1px solid $gray-97;
    outline: none;
    width: calc(100% - 81px);
    justify-content: center;
    padding: 14px 0 8.5px;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-4{
    background-color: 'transparent';
    font-size: 13px;
    border: none;
    outline: none;
    width: 100%;
    height: 16px;
    justify-content: center;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-5{
    background-color: 'transparent';
    font-size: 13px;
    border: none;
    border-bottom: 1px solid $gray-97;
    outline: none;
    width: 50px;
    justify-content: center;
    height: 25px;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-6{
    background-color: 'transparent';
    font-size: 11px;
    border: none;
    border-bottom: 1px solid $gray-97;
    outline: none;
    width: 100%;
    justify-content: center;
    padding: 14px 0 8.5px;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-7{
    background-color: 'transparent';
    font-size: 11px;
    border: none;
    border-bottom: 1px solid $gray-97;
    outline: none;
    width: calc(100% - 81px);
    justify-content: center;
    padding: 14px 0 8.5px;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-8{
    background-color: 'transparent';
    font-size: 11px;
    border: none;
    outline: none;
    width: 100%;
    height: 16px;
    justify-content: center;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-9{
    background-color: '#ffffff';
    font-size: 13px;
    font-weight: 600;
    padding-left: 1rem;
    border: none;
    outline: none;
    width: calc(100% - 40px);
    height: 40px;
    justify-content: center;

    &::placeholder {
        color: $gray-8e;
        font-weight: 600;
    }
}
@media (min-width: 1440px){
    .text-input-6{
        background-color: 'transparent';
        font-size: 13px;
        border: none;
        border-bottom: 1px solid $gray-97;
        outline: none;
        width: 100%;
        justify-content: center;
        padding: 14px 0 8.5px;
    
        &::placeholder {
            color: $gray-8e;
        }
    }
    .text-input-7{
        background-color: 'transparent';
        font-size: 13px;
        border: none;
        border-bottom: 1px solid $gray-97;
        outline: none;
        width: calc(100% - 81px);
        justify-content: center;
        padding: 14px 0 8.5px;
    
        &::placeholder {
            color: $gray-8e;
        }
    }
    .text-input-8{
        background-color: 'transparent';
        font-size: 13px;
        border: none;
        outline: none;
        width: 100%;
        height: 16px;
        justify-content: center;
    
        &::placeholder {
            color: $gray-8e;
        }
    }
}
.country-number-input{
    background-color: 'transparent';
    font-size: 13px;
    border: none;
    border-bottom: 1px solid $gray-97;
    outline: none;
    width: 65px;
    justify-content: center;
    padding: 14px 0 8.5px;

    &::placeholder {
        color: $gray-8e;
    }
}
.check-box{
    cursor: pointer;
    border: 2px solid $pink;
    width: 16px;
    height: 16px;
    background-color: $white;

    &.unchecked{
        border: 2px solid $gray-ce;
    }
}
.check-box-text{
    width: calc(100% - 16px);
}
.check-box-sm{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: $white;

    &.checked{
        background-color: $confirmed;
    }
}
.check-box-sm-text{
    width: calc(100% - 12px);
}


input{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
textarea {
    resize: none;
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    &::placeholder{
        color: $gray-d5;
    }
}
.text-area{
    height: 120px;
    width: 100%;
    border: 1px solid $gray-6d
}
.text-area-2{
    height: 120px;
    width: 100%;
    border: 1px solid $gray-6d;
    font-size: 11px;
}

@media (min-width: 1440px){
    .text-area-2{
        height: 120px;
        width: 100%;
        border: 1px solid $gray-6d;
        font-size: 13px;
    }
}

.circle-gray-8e-40{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $gray-8e;
    overflow: hidden;
}
.circle-black-40{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $black;
    overflow: hidden;
}
.circle-gray-5c-20{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid $gray-5c;
    background-color: $gray-5c;
    overflow: hidden;
}

.overflow-hidden{
    overflow: hidden !important;
}
.overflow-y-scroll{
    overflow-y: scroll !important;
}
.overflow-x-scroll{
    overflow-x: scroll !important;
}

.hidden{
    visibility: hidden !important;
}
.none{
    display: none;
}

.container-customer{
    max-width: 768px !important;
    margin: auto;
}
.container-admin{
    max-width: 1024px !important;
    margin: auto;
}
@media (min-width: 1440px){
    .container-admin{
        max-width: 1440px !important;
        margin: auto;
    }
}
.container-portfolio-lg{
    height: 100px;
    width: 100%;
    overflow-x: scroll !important;
}
.container-portfolio{
    height: 100px;
    width: 100%;
    overflow-x: scroll !important;
}
.container-image{
    height: 100%;
    width: 100%;
    max-height: 100px;
    max-width: 100px;
}
.container-profile{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
}
.container-location-outside{
    height: 50px;
    width: 100%;
    overflow-x: scroll;
}
.container-location{
    height: 50px;
    min-height: 50px;
    border: 3px solid $gray-d9;
    background-color: $white;
    opacity: .9;

    &.selected{
        border: 3px solid $pink !important;
        opacity: 1;
    }
}
.container-map{
    height: 170px;
}
.container-modal{
    width: calc(100vw - 32px);
    max-width: 736px;
}

.container-modal+button{
    display: none !important;
}
.container-half-btn{
    width: '100%';
}
.container-admin-toolbox{
    width: 0;
}
.container-admin-toolbox-side{
    width: 100%;
}
.container-admin-studio{
    width: 100%;
}
.container-admin-studio-side{
    width: 100%;
}
.container-day{
    height: 111px;
    width: 100%;
    overflow-x: scroll !important;
}
.container-day-box{
    width: 26px;
    height: 32px;
    flex: 0 0 auto;
    border: 1px solid $gray-33;
    box-sizing: border-box;
}
.container-customer-image{
    width: 80px;
    height: 80px;
}
.container-customer-image-outside{
    height: 80px;
}
.container-mobile-card{
    width: 320px;
    height: 569px;
    box-shadow: 2px 7px 12px 0 rgba(0, 0, 0, 0.2);
    border: solid 0.5px $gray-e8;
}
.container-admin-portfolio{
    height: 80px;
    max-height: 80px;
}
.container-admin-portfolio-inner{
    width: 80px;
    height: 80px;
    flex: 0 0 auto;
}
.container-studio-profile{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.container-studio-input{
    width: 100%;
    max-width: 520px;
}
.container-searched-location{
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;
    position: 'fixed';
    bottom: 0;
    left: 0;
    right: 0;
}
@media (min-width: 768px){
    .container-portfolio-lg{
        height: 300px;
        width: 100%;
        overflow-x: scroll !important;
    }
    .container-image{
        height: 100%;
        width: 100%;
        max-height: 150px;
        max-width: 150px;
    }
    .container-map{
        height: 400px;
    }
    .container-half-btn{
        width: 300px;
    }
    .container-admin-toolbox{
        width: 272px;
        margin-left: 20px;
    }
    .container-admin-toolbox-side{
        width: calc(100% - 292px);
    }
    .container-admin-studio{
        width: 390px;
    }
    .container-admin-studio-side{
        width: calc(100% - 390px);
    }
    .container-mobile-card{
        width: 360px;
        height: 640px;
        box-shadow: 2px 7px 12px 0 rgba(0, 0, 0, 0.2);
        border: solid 0.5px $gray-e8;
    }
}

@media (min-width: 1440px){
    .container-admin-toolbox{
        width: 405px;
        margin-left: 40px;
    }
    .container-admin-toolbox-side{
        width: calc(100% - 445px);
    }
    .container-customer-image{
        width: 100px;
        height: 100px;
    }
    .container-customer-image-outside{
        height: 100px;
    }
    .container-admin-studio{
        width: 550px;
    }
    .container-admin-studio-side{
        width: calc(100% - 550px);
    }
}

.icon-menu{
    width: 24px;
    height: 24px;
}
.icon-instagram{
    width: 12px;
    height: 12px;
}
.icon-arrow-down{
    width: 10px;
    height: 5px;
}
.icon-arrow-right{
    width: 5px;
    height: 10px;
}
.icon-arrow-right-lg{
    width: 8px;
    height: 12px;
}
.icon-check{
    width: 9px;
    height: 7px;
}
.icon-checked{
    width: 12px;
    height: 12px;
}
.icon-arrow{
    width: 15px;
    height: 12px;
}

.safearea{
    padding-top: 72px;
    padding-bottom: 48px;
}
.safearea-top{
    padding-top: 72px;
}
.safearea-btm{
    padding-bottom: 48px;
}
.safearea-admin{
    padding-top: 72px;
}
@media (max-width: 767px){
    .safearea-admin-mobile{
        padding-top: 72px;
    }
}

.pt-45{
    padding-top: 2rem;
}

.opacity-4{
    opacity: .4;
}
.opacity-7{
    opacity: .7;
}

.border-dropdown{
    border: 1px solid $gray-97;
    border-top: none;
}
.border-gray-d9{
    border: 1px solid $gray-d9;
}

.border-pink{
    border: 1px solid $pink;
}
.border-btm-gray-dc{
    border-bottom: 1px solid $gray-dc;
}
.border-btm-confirmed-2{
    border-bottom: 2px solid $confirmed;
}

.btn{
    cursor: pointer;

    &:hover,
    &:active,
    &:focus{
        opacity: .7;
    }
}

.bg-newyork{
    background-image: url('../assets/images/newyork.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center center;
    background-attachment: scroll;
}

.banner{
    height: 74px;
}

.profile-image{
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
}
.portfolio-image{
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    flex: 0 0 auto;
}

.arrow-animated {
    transition: all ease 0.4s;
}
.arrow-animated.rotate {
    transform: rotate( 180deg );
}

.slide{
    min-height: 100px;
    -webkit-transition: height .6s;
    -moz-transition: height .6s;
    -o-transition: height .6s;
    transition: height .6s;
    overflow: hidden;


    &.hide{
        min-height: 0;
        height: 0px;
    }
}

.outline-none{
    outline: none !important;

    &:hover,
    &:active,
    &:focus{
        outline: none !important;
    }
}

.collapse{
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    transition: height .4s;
}

.nowrap-inner{
    flex: 0 0 auto
}