@import "reset-css";
@import "./bootstrap/bootstrap-grid.scss";

@font-face {
    font-family: 'NanumSquare';
    src: url('../assets/fonts/Nanum/NanumSquareOTFL00.eot');
    src: local('나눔스퀘어OTF Light'), local('NanumSquareOTFL00'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.woff2') format('woff2'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.woff') format('woff'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.otf') format('opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.ttf') format('truetype'),
        url('../assets/fonts/Nanum/NanumSquareOTFL00.svg#NanumSquareOTFL00') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('../assets/fonts/Nanum/NanumSquareOTFR00.eot');
    src: local('나눔스퀘어OTF'), local('NanumSquareOTFR00'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.woff2') format('woff2'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.woff') format('woff'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.otf') format('opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.ttf') format('truetype'),
        url('../assets/fonts/Nanum/NanumSquareOTFR00.svg#NanumSquareOTFR00') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('../assets/fonts/Nanum/NanumSquareOTFB00.eot');
    src: local('나눔스퀘어OTF Bold'), local('NanumSquareOTFB00'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.woff2') format('woff2'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.woff') format('woff'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.otf') format('opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.ttf') format('truetype'),
        url('../assets/fonts/Nanum/NanumSquareOTFB00.svg#NanumSquareOTFB00') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('../assets/fonts/Nanum/NanumSquareOTFEB00.eot');
    src: local('나눔스퀘어OTF ExtraBold'), local('NanumSquareOTFEB00'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.woff2') format('woff2'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.woff') format('woff'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.otf') format('opentype'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.ttf') format('truetype'),
        url('../assets/fonts/Nanum/NanumSquareOTFEB00.svg#NanumSquareOTFEB00') format('svg');
    font-weight: 900;
    font-style: normal;
}

.scroll-none{
    overflow: auto;
    -ms-overflow-style: none !important;
}

::-webkit-scrollbar {
    display: none;
}
html{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    font-family: 'NanumSquare', sans-serif;
}
.mobile-only{
    display: inherit;
}
.mobile-none{
    display: none;
}
@media (min-width: 768px) {
    .mobile-only{
        display: none;
    }
    .mobile-none{
        display: inherit;
    }
}

.font-light{
    font-weight: 100;
}
.font-normal{
    font-weight: 400;
}
.font-bold{
    font-weight: 600;
}
.font-extra-bold{
    font-weight: 900;
}
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
.italic{
    font-style: italic;
}

@for $i from 1 through 100 {
    .height-#{$i} { height: #{$i}vh; }
}
@for $i from 1 through 100 {
    .height-#{$i}-percent { height: '#{$i}%'; }
}
@for $i from 1 through 100 {
    .width-#{$i} { width: '#{$i}%'; }
}
@for $i from 8 through 60 {
    .font-#{$i} { font-size: #{$i}px; }
}

.height-full{
    height: 100vh;
}
.height-full-percent{
    height: 100%;
}
.width-full{
    width: 100%;
}

.cursor-pointer{
    cursor: pointer;
}

.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white{
    color: $white;
}
.gray-2f{
    color: $gray-2f;
}
.gray-8e{
    color: $gray-8e;
}
.gray-a6{
    color: $gray-a6;
}
.gray-33{
    color: $gray-33;
}
.pink{
    color: $pink;
}

.bg-white{
    background-color: $white;
}
.bg-gray-2f{
    background-color: $gray-2f;
}
.bg-gray-8e{
    background-color: $gray-8e;
}
.bg-gray-a6{
    background-color: $gray-a6;
}
.bg-gray-33{
    background-color: $gray-33;
}
.bg-pink{
    background-color: $pink;
}

.font-60-120{
    font-size: 60px;
}

@media (min-width: 768px){
    .font-60-120{
        font-size: 120px;
    }
}
.position-relative{
    position: relative;
}
.position-home-title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.position-home-logo{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.position-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: '100%';
}
.position-nav-description{
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
}
.position-btm-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: '100%';
    height: 48px;
    -webkit-transition: height .6s;
    -moz-transition: height .6s;
    -o-transition: height .6s;
    transition: height .6s;


    &.hide{
        height: 0px;
    }
}
.position-dropdown{
    position: absolute;
    top: 40px;
    z-index: 10;
    border: 1px solid $gray-97;
    border-top: none;
}

.text-input-1{
    background-color: $white;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    outline: none;
    width: calc(90% - 40px - 1rem);
    max-width: 600px;
    height: 60px;
    justify-content: center;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-2{
    background-color: 'transparent';
    font-size: 13px;
    border: none;
    border-bottom: 1px solid $gray-97;
    outline: none;
    width: 100%;
    justify-content: center;
    padding: 14px 0 8.5px;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-3{
    background-color: 'transparent';
    font-size: 13px;
    border: none;
    border-bottom: 1px solid $gray-97;
    outline: none;
    width: calc(100% - 81px);
    justify-content: center;
    padding: 14px 0 8.5px;

    &::placeholder {
        color: $gray-8e;
    }
}
.text-input-4{
    background-color: 'transparent';
    font-size: 13px;
    border: none;
    outline: none;
    width: 100%;
    height: 16px;
    justify-content: center;

    &::placeholder {
        color: $gray-8e;
    }
}
.country-number-input{
    background-color: 'transparent';
    font-size: 13px;
    border: none;
    border-bottom: 1px solid $gray-97;
    outline: none;
    width: 65px;
    justify-content: center;
    padding: 14px 0 8.5px;

    &::placeholder {
        color: $gray-8e;
    }
}

.circle-gray-8e-40{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $gray-8e;
    overflow: hidden;
}
.circle-black-40{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $black;
    overflow: hidden;
}

.overflow-hidden{
    overflow: hidden !important;
}
.overflow-y-scroll{
    overflow-y: scroll !important;
}

.hidden{
    visibility: hidden !important;
}
.none{
    display: none;
}

.container-customer{
    max-width: 768px !important;
    margin: auto;
}

.icon-menu{
    width: 24px;
    height: 24px;
}

.safearea{
    padding-top: 72px;
    padding-bottom: 48px;
}

.pt-45{
    padding-top: 2rem;
}

.opacity-4{
    opacity: .4;
}
.opacity-7{
    opacity: .7;
}

.border-dropdown{
    border: 1px solid $gray-97;
    border-top: none;
}

.btn{
    cursor: pointer;

    &:hover,
    &:active,
    &:focus{
        opacity: .7;
    }
}