<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div style="background-color: rgb(232,232,232); padding: 20px 10px;">
            <p style="text-align: center; font-size: 20px; margin-bottom: 20px;">PRIZM</p>
            <div style="background-color: #ffffff; padding: 20px 10px;">
                <p style="font-weight: 500; font-size: 20px;">Hi {{ user }},</p>
                <br/>
                <br/>
                <p style="line-height: 1.5;">
                    Thanks for getting started with PRIZM! Please click the link below
                    <br/>
                    to confirm your email address.
                </p>
                <a style="margin-top: 30px; text-decoration: none;" href='{{ url }}' target="_blank">
                    {{ url }}
                </a>
                <p style="margin-top: 30px;">
                    If you have any questions, please let us know.
                </p>
                <p style="margin-top: 30px; line-height: 1.5;">
                   Thanks,
                   <br/>
                   Jungwoo Lee
                </p>
            </div>
        </div>
    </body>
</html>